name: Help

on:
  push:
    branches: [main]

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: kdheepak/panvimdoc@main
        with:
          vimdoc: srcerite
          toc: false
          shiftheadinglevelby: -1
      - uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: "docs(vim): auto generate help"
